body {
  overflow: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper-content {
  background-color: 		#F5F5F5;
  display: flex;

  .img-login {
    width: 65%;
  }

  .button-login-direct {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
    margin: 10px 5px;

    &.facebook {
      background-image: url(./assets/facebook.svg);
    }

    &.google {
      background-image: url(./assets/google.svg);
    }
  }

  .wrapper-login {
    width: 35%;
    height: 700px;
    top: 20%;
    right: 0;
    position: absolute;
    display: grid;
    grid-template-rows: 85px 200px 100px;
    grid-gap: 10px;
    align-items: center;

    .title-login {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      font-size: 25px;
    }

    .wrapper-form {
      display: block;

      .wrapper-inputs {
        display: grid;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .input-login {
          margin: 3px;
          width: 400px;
          padding: 20px;
          height: 0px;
          background-color: 	#F5F5F5;
          border: 1px solid #E8E8E8;
          border-radius: 3px;
        }
      }

      .wrapper-actions-login {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

        .actions-login {
          display: grid;
          flex-direction: column;
          grid-template-columns: auto auto auto;
          justify-content: space-between;
          width: 440px;
  
          .checkbox-remember-me {
            display: inline-flex;
    
            .remember-me {
              font-size: 12px;
              font-weight: 300;
              align-items: center;
              justify-content: center;
              justify-items: center;
              display: flex;
            }
          }
  
          .text-link {
            text-decoration: none;
            color: black;
            font-size: 12px;
          }
        }
      }

      .wrapper-button-login {
        display: grid;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .button-login {
          width: 440px;
          padding: 10px;
          background-color: #4d4dff;
          border-radius: 5px;
          border: 1px;
          color: white;
          font-size: 12px;
          font-weight: bold;
          display: flex;
          margin-top: 30px;
          justify-content: center;
        }
      }
    }
  }

  .sign-up {
    .sign-up-text {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;

      span {
        font-size: 12px;
        font-weight: 200;
      }
    }

    .button-sign-up {
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

.alert {
  position: fixed;
  border-radius: 5px;
  border: 1px solid black;
  width: 35%;
  top: 0px;
  min-height: 70px;
  color: black;
  font-size: x-large;
  font-style: oblique;
  justify-content: center;
  align-items: center;
  display: flex;

  &.info {
    background-color: #00FFFF;
  }

  &.warning {
    background-color: #FF8C00;
  }

  &.error {
    background-color: red;
  }
}

.register-acount {
  width: 100%;
  height: 500px;

  .form-register-acount {
    display: grid;
    justify-content: center;
    align-items: center;

    .input-login {
      margin: 5px 0;
    }

    .text-create-acount {
      font-size: 20px;
      font-weight: 700;
    }
  }
}

.forget-password {
  width: 100%;
  height: 500px;

  .form-forget-password {
    display: grid;
    justify-content: center;
    align-items: center;
  }

  .text-forget {
    font-size: 20px;
    font-weight: 700;
  }

  .input-login {
    margin: 5px 0;
  }

  .text-forget-recover {
    color: red;
  }
}

//mobile

@media (max-width: 480px) {
  .wrapper-content {
    .img-login {
      width: 411px;
      opacity: 0.2;
    }

    .wrapper-login {
      width: auto;
      height: auto;
      right: auto;

      .wrapper-form {
        .wrapper-inputs {
          .input-login {
            width: 300px;
          }
        }

        .wrapper-actions-login {
          .actions-login {
            width: 340px;
          }
        }

        .wrapper-button-login {
          .button-login {
            width: 340px;
          }
        }

        .alert {
          width: 100%;
        }
      }
    }
  }

  .register-acount {
    .form-register-acount {
      top: 50%;
      position: relative;
    }
  }

  .forget-password {
    .form-forget-password {
      top: 50%;
      position: relative;
    }
  }
}

//ipad
@media (max-width: 770px) {
  .wrapper-content {
    .img-login {
      width: 100%;
      opacity: 0.2;
    }

    .wrapper-login {
      width: auto;
      height: auto;
      right: auto;
    }
  }
}